@import "https://fonts.googleapis.com/css?family=Open+Sans|Alex+Brush";

html {
  background: url(hashibackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Open Sans";
  font-size: 3.5em
}

h2 {
  font-family: "Open Sans";
  font-size: 2.5em
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 25em
}

.hashilogo {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.centerblock {
  margin-top: 20%;
  text-align: center;
  vertical-align: middle;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
