# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

version: "3"
virtualmachines:
- name: workstation
  image: instruqt-hashicorp/ubuntu-2004-base
  shell: /bin/bash -l
  machine_type: n1-standard-1
gcp_projects:
- name: gcp-project
  services:
  - cloudresourcemanager.googleapis.com
  - compute.googleapis.com
